@import '../../../styles.scss';



.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav{
    width: 100%;
}



.nav-link{
    color: $navLinkColor !important;
    transition: all 0.3s ease-in-out;

    span{
        margin: 0 5px;
    }

    &:hover{
        color: $accentColor !important;
        font-weight: bold;
    }
}


.active-link{
    color: $accentColor !important;
    font-weight: bold;
}



.auth-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {

    .nav-item{
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .auth-links {
        padding: 0 !important;
        margin-left: 0!important;
        margin-right: 0!important;
        flex-direction: column;
    }
}